In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('./UNSW_NB15_training-set.csv')

In [3]:
data

,id,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,1,0.000011,udp,-,INT,2,0,496,0,90909.090200,...,1,2,0,0,0,1,2,0,Normal,0
1,2,0.000008,udp,-,INT,2,0,1762,0,125000.000300,...,1,2,0,0,0,1,2,0,Normal,0
2,3,0.000005,udp,-,INT,2,0,1068,0,200000.005100,...,1,3,0,0,0,1,3,0,Normal,0
3,4,0.000006,udp,-,INT,2,0,900,0,166666.660800,...,1,3,0,0,0,2,3,0,Normal,0
4,5,0.000010,udp,-,INT,2,0,2126,0,100000.002500,...,1,3,0,0,0,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82327,82328,0.000005,udp,-,INT,2,0,104,0,200000.005100,...,1,2,0,0,0,2,1,0,Normal,0
82328,82329,1.106101,tcp,-,FIN,20,8,18062,354,24.410067,...,1,1,0,0,0,3,2,0,Normal,0
82329,82330,0.000000,arp,-,INT,1,0,46,0,0.000000,...,1,1,0,0,0,1,1,1,Normal,0
82330,82331,0.000000,arp,-,INT,1,0,46,0,0.000000,...,1,1,0,0,0,1,1,1,Normal,0
82331,82332,0.000009,udp,-,INT,2,0,104,0,111111.107200,...,1,1,0,0,0,1,1,0,Normal,0

In [4]:
data = data.drop('id', axis=1)

In [5]:
data['label'].value_counts()

1    45332
0    37000
Name: label, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [7]:
data['proto'] = labelencoder.fit_transform(data['proto'])
data['state'] = labelencoder.fit_transform(data['state'])
data['service'] = labelencoder.fit_transform(data['service'])
data['attack_cat'] = labelencoder.fit_transform(data['attack_cat'])


data.head(5)

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,0.000011,117,0,4,2,0,496,0,90909.0902,254,...,1,2,0,0,0,1,2,0,6,0
1,0.000008,117,0,4,2,0,1762,0,125000.0003,254,...,1,2,0,0,0,1,2,0,6,0
2,0.000005,117,0,4,2,0,1068,0,200000.0051,254,...,1,3,0,0,0,1,3,0,6,0
3,0.000006,117,0,4,2,0,900,0,166666.6608,254,...,1,3,0,0,0,2,3,0,6,0
4,0.000010,117,0,4,2,0,2126,0,100000.0025,254,...,1,3,0,0,0,2,3,0,6,0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82332 entries, 0 to 82331
Data columns (total 44 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   dur                82332 non-null  float64
 1   proto              82332 non-null  int32
 2   service            82332 non-null  int32
 3   state              82332 non-null  int32
 4   spkts              82332 non-null  int64
 5   dpkts              82332 non-null  int64
 6   sbytes             82332 non-null  int64
 7   dbytes             82332 non-null  int64
 8   rate               82332 non-null  float64
 9   sttl               82332 non-null  int64
 10  dttl               82332 non-null  int64
 11  sload              82332 non-null  float64
 12  dload              82332 non-null  float64
 13  sloss              82332 non-null  int64
 14  dloss              82332 non-null  int64
 15  sinpkt             82332 non-null  float64
 16  dinpkt             82332 non-null  float64
 17  sjit               82332 non-null  float64
 18  djit               82332 non-null  float64
 19  swin               82332 non-null  int64
 20  stcpb              82332 non-null  int64
 21  dtcpb              82332 non-null  int64
 22  dwin               82332 non-null  int64
 23  tcprtt             82332 non-null  float64
 24  synack             82332 non-null  float64
 25  ackdat             82332 non-null  float64
 26  smean              82332 non-null  int64
 27  dmean              82332 non-null  int64
 28  trans_depth        82332 non-null  int64
 29  response_body_len  82332 non-null  int64
 30  ct_srv_src         82332 non-null  int64
 31  ct_state_ttl       82332 non-null  int64
 32  ct_dst_ltm         82332 non-null  int64
 33  ct_src_dport_ltm   82332 non-null  int64
 34  ct_dst_sport_ltm   82332 non-null  int64
 35  ct_dst_src_ltm     82332 non-null  int64
 36  is_ftp_login       82332 non-null  int64
 37  ct_ftp_cmd         82332 non-null  int64
 38  ct_flw_http_mthd   82332 non-null  int64
 39  ct_src_ltm         82332 non-null  int64
 40  ct_srv_dst         82332 non-null  int64
 41  is_sm_ips_ports    82332 non-null  int64
 42  attack_cat         82332 non-null  int32
 43  label              82332 non-null  int64
dtypes: float64(11), int32(4), int64(29)
memory usage: 26.4 MB

In [9]:
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.model_selection import train_test_split


X = data.drop('attack_cat', axis=1) 
Y = data['attack_cat']

# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Select top k features using Chi-squared
k = 10  # Choose the desired number of features
chi2_selector = SelectKBest(chi2, k=k)
X_train_new = chi2_selector.fit_transform(X_train, Y_train)
X_test_new = chi2_selector.transform(X_test)

# Print the selected features
selected_features = [i for i in range(len(chi2_selector.get_support())) if chi2_selector.get_support()[i]]
print(f"Selected features: {selected_features}")
selected_columns = data.iloc[:, selected_features]

Selected features: [6, 7, 8, 11, 12, 15, 17, 20, 21, 29]

In [10]:
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.model_selection import train_test_split

# Assuming 'data' is your DataFrame
X = data.drop('attack_cat', axis=1)
Y = data['attack_cat']

# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Select top k features using Chi-squared
k = 10  # Choose the desired number of features
chi2_selector = SelectKBest(chi2, k=k)
X_train_new = chi2_selector.fit_transform(X_train, Y_train)
X_test_new = chi2_selector.transform(X_test)

# Print the selected features
selected_features = chi2_selector.get_support()
print(f"Selected features: {selected_features}")

# Use boolean indexing to get the selected columns from the original DataFrame
selected_columns = X.columns[selected_features]
print(f"Selected columns: {selected_columns}")

Selected features: [False False False False False False  True  True  True False False  True
  True False False  True False  True False False  True  True False False
 False False False False False  True False False False False False False
 False False False False False False False]
Selected columns: Index(['sbytes', 'dbytes', 'rate', 'sload', 'dload', 'sinpkt', 'sjit', 'stcpb',
       'dtcpb', 'response_body_len'],
      dtype='object')

In [11]:
X=data[selected_columns]

In [12]:
X.shape

(82332, 10)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=111)

In [14]:
Y_train

36438    6
44857    4
25740    6
22254    5
944      7
        ..
73026    6
25257    6
4820     3
10196    2
77652    6
Name: attack_cat, Length: 65865, dtype: int32

In [15]:
from sklearn.ensemble import ExtraTreesClassifier
etc = ExtraTreesClassifier(min_samples_split=7, random_state=111)
etc.fit(X_train,Y_train)
ET=etc.score(X_train,Y_train)
ETC = etc.score(X_test, Y_test)
print('Score:{}'.format(ETC))

Score:0.8288091334183518